.container {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.aside {
  width: 320px;
}

.link {
  height: 64px;
  line-height: 64px;
  cursor: pointer;
}

.inputs > div > div {
  width: 480px;
}

.info {
  color: rgba(133, 133, 173, 0.4);
}

a {
  text-decoration: none;
}

aside a:hover {
  color: #ffffff;
}

.orders {
  max-height: 916px;
  width: 100%;
  overflow-x: hidden;
}
