.container {
  width: 640px;
  margin: auto;
}

.flex {
  display: flex;
  align-items: center;
}

.dflex {
  composes: flex;
  justify-content: space-between;
}

.details {
  max-height: 352px;
  overflow-x: hidden;
}

.icon {
  width: 64px;
  height: 64px;
  border-radius: 100px;
  position: relative;
  overflow: hidden;
  border: solid 2px #4c4cff;
  box-sizing: border-box;
}

.image {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  object-fit: cover;
  object-position: -30px 0;
  background: #1c1c21;
}

.number {
  text-align: center;
}
